html,
body {
	font-family: 'montserratregular', Lato, Arial;
}

body {
	opacity: 1;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html,
body,
.container {
	min-height: 100vh;
}

.container {
	margin: 0 auto;
	max-width: 640px;
	width: 100%;
}

@media (min-width: 642px)  {
	.container {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
}

header {
	background-color: #7740A2;
	background: linear-gradient(to right,  #7652be 0%,#7652be 20%,#7740a2 80%,#7740a2 100%);
	font-family: montserratlight;
	height: 50px;
	line-height: 50px;
	position: relative;
}

header .header_back {
	cursor: pointer;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
    color: #fff;
    font-size: 12px;
    padding-left: 22px;
    padding-right: 10px;
}

header .header_back::before {
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	content: '';
	display: block;
	height: 10px;
	position: absolute;
	transform: rotate(-45deg);
	width: 10px;
    left: 10px;
    top: calc(50% - 5px);
}

header .header_title {
	background-image: url('../../images/header-logo.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	left: 50%;
	position: absolute;
	text-indent: -9999px;
	transform: translateX(-50%);
	width: 130px;
}

header .header_avatar {
	background-color: #3F2686;
	background-size: cover;
	background-position: 50%;
	border: 1px solid #ccc;
	border-radius: 100%;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
}

header .header_basket {
	color: #fff;
	font-size: 12px;
	padding: 0 10px;
	position: absolute;
	pointer-events: none;
	right:  0;
	top:  0;
	z-index: 1;
}

header .header_basket.header_basket_items {
	pointer-events: all;
}

header .header_basket::after {
	background-color: #45d0b1;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	width: 0px;
	z-index: -1;
}

header .header_basket.header_basket_items::after {
	animation-duration: 0.5s;
	animation-name: basketSlide;
	animation-fill-mode: forwards;
}

@keyframes basketSlide {
	from {
		width: 0px;
	}

	50% {
		width: 110%;
	}

	to {
		width: 100%;
	}
}

header .header_basket em {
	opacity: 0.6;
}

.user_avatar {
	background-color: #fff;
	background-image: url('../../images/loader.png');
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 50%;
	border-radius: 100%;
	border: 4px solid #fff;
	box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2), inset 0 2px 2px 1px rgba(0,0,0,0.2);
	height: 120px;
	margin: 20px auto 40px;
	width: 120px;
}

.user_avatar.user_selected {
	background-color: #3F2686;
	background-position: 50%;
	background-size: cover;
}

.auth0-lock.auth0-lock img.auth0-lock-header-logo {
	width: calc(100% + 28px);
	height: calc(100% + 28px);
	position: relative;
	left:  -14px;
	top: -14px;
}

.page {
	padding: 20px 10px;
}

.page.light_blue {
	background-color: #edf2fa;
	background-image: url('../../images/light-blue-bg.jpg');
	background-size: 50%;
	min-height: 100vh;
}

.page.home h2 {
	color: #281954;
	font-size: 24px;
}

.page.home .spotter_tip {
	margin-top: 0;
}

.item {
	border-bottom: 1px solid #ccc;
	min-height: 52px;
	padding: 10px 70px 10px 60px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.page_product .item {
	cursor: pointer;
}

.item:first-child {
	border-top: 1px solid #ccc;
}

.item .item_img {
	background-image: url('../../images/icon.png');
	background-color: #F8F8F8;
	background-size: contain;
	background-position: 50%;
	background-position: center;
	height: 50px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
}

.item .item_price {
	right: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.page_product h3 {
	font-weight: bold;
	margin: 20px 0;
}

.product_price span {
	display: inline-block;
	min-width: 66px;
}

.item_grid_parent {
    display: flex;
    flex-wrap: wrap;
}

.item_grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
	overflow: hidden;
	width: 50%;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.item_grid:nth-child(even) {
	border-right: none;
}

.item_grid_parent.item_grid_single .item_grid {
	border: none;
	width: 100%;
}

.item_grid h4 {
	min-height: 104px;
}

.item_grid .item_grid_img {
	border-radius: 100%;
	display: block;
	margin: 0 auto 20px;
    background-color: #ccc;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    border: 2px solid #4eafb3;
    box-shadow: inset 0 2px 2px 1px rgba(0,0,0,0.2);
    height: 80px;
    width: 80px;
    position: relative;
}

.item_grid .item_grid_img .item_grid_saving {
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;  
    background-color: #4eafb3;
    height: 30px;
    color: #fff;
    left: 60%;
    padding: 4px;
    position: absolute;
    top: 4px;
}

.item_grid .item_grid_img .item_grid_saving::before {
	content: 'save ';
	font-size: 12px;
}

.item_grid .item_grid_others {
	font-size: 12px;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;    
}

.item_grid .item_grid_others a {
    display: block;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    position: relative;
}

.item_grid .item_grid_others a::before {
	border-bottom: 2px dotted #4eafb3;
	bottom: 6px;
	content: '';
	display: block;
	height: 2px;
	position: absolute;
    width: 100%;
}

.item_grid .item_grid_others span {
	background-color: #fff;
	display: block;
	float: left;
	max-width: 50%;
	overflow: hidden;
	position: relative;
}

.item_grid .item_grid_others span:last-child {
	text-align: right;
	float: right;
}