.page.clients_view h2,
.page.client_edit h2 {
    color: #281954;
    font-size: 24px;
}

.client_list_client {
	background-color: #fff;
	border-top: 1px solid #d9d7e1;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
	padding-left: 60px;
	padding-right: 10px;
	position: relative;
	left: -10px;
	width: calc(100% + 20px);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.client_list_client.client_list_no_clients {
	color: #d9d7e1;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.client_list_client.client_list_add_client {
	color: #45d0b1;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.client_list_client:last-child {
	border-bottom: 1px solid #d9d7e1;
}

.client_list_client span {
	background-color: #3F2686;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 100%;
	display: block;
	height: 30px;
	left: 10px;
	position: absolute;
	top: 10px;
	width: 30px;
}

.edit .client_list_client::after {
	border-right: 2px solid #000;
    border-top: 2px solid #000;
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 10px;
    top: 16px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.delete .client_list_client::before,
.delete .client_list_client::after {
	background-color: red;
    content: '';
    display: block;
    height: 16px;
    width: 2px;
    position: absolute;
    right: 10px;
    top: 16px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.delete .client_list_client::before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}