input,
button,
select {
	background-color: #fff;
	border-radius: 12px;
	line-height: 50px;
	margin: 4px 0 20px;
	padding: 0 10px;
	position: relative;
	width: 100%;
	-webkit-appearance: none;
}

input {
	border: 2px solid #8493A7;
}

input:focus,
button:focus,
select:focus {
	outline: none;
	box-shadow: 0 0 0 2px #FF5063;
	z-index: 1;
}

button {
	background-color: #FF5063;
	border: 0;
	color: #fff;
	font-size: 16px;
}

button.green_btn {
	background-color: #45d0b1;
}

button.trans_btn {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #FF5063;
	color: #FF5063;
}

.add_icon::before {
    background-image: url('../../images/add.png');
    background-position: 50%;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    width: 24px;
}

.add_icon.add_icon_green::before {
	background-image: url('../../images/add-green.png');
}

.delete_icon::before {
    background-image: url('../../images/delete.png');
    background-position: 50%;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    width: 24px;
}

.edit_icon::before {
    background-image: url('../../images/edit.png');
    background-position: 50%;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    width: 24px;
}

.clients_icon::before {
    background-image: url('../../images/view-clients.png');
    background-position: 50%;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    width: 24px;
}

.cog_icon::before {
    background-image: url('../../images/cog.png');
    background-position: 50%;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    width: 24px;
}

input:disabled,
button:disabled {
	opacity: 0.5;
}

a {
	color: #4eafb3;
	text-decoration: none;
}

p {
	margin-bottom: 20px;
}

.hide { display: none; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.searchbar {
	border: 1px solid #ccc;
	position: relative;
	top: -20px;
}

.searchbar li {
    border-bottom: 3px solid #ccc;
    cursor: pointer;
    min-height: 66px;
    padding: 8px 10px 4px 70px;
    min-height: 66px;
    position: relative;
    line-height: 18px;        
}

.searchbar li:last-child {
	border-bottom: 0;
}

.searchbar .searchbar_result .searchbar_result_image {
	background-color: #ccc;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 50px;
	position: absolute;
	width: 50px;
	top: 8px;
	left: 10px;
}

.searchbar li.searchbar_result_has_discount {
	padding-bottom: 30px;
	min-height: 95px;
}

.searchbar .searchbar_result_discount {
	background-color: #4eafb3;
	bottom: 0px;
	clear: both;
	color: #fff;
	display: block;
	font-size: 12px;
	height: 26px;
	left: 0;
	line-height: 26px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.searchbar .searchbar_result_discount::before {
	background-color: #4eafb3;
	content: '';
	display: block;
	height: 10px;
	left: 30px;
	position: absolute;
	top:  -5px;
	transform: rotate(45deg);
	width: 10px;
}

.spotter_loader {
	height: 100px;
	position: relative;
	overflow: hidden;
}

.spotter_loader::before {
	background-image: url('../../images/loader.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	content: '';
	display: block;
	height: 60px;
	left:  calc(50% - 30px);
	position: absolute;
	top:  20px;
	width: 60px;
	animation-duration: 1.4s;
	animation-name: loader;
	animation-iteration-count: infinite;
}

@keyframes loader {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spotter_tip {
	background-color: #fff;
	color: #8493a7;
	font-size: 12px;
	font-family: montserratlight;
	line-height: 18px;
	margin: 30px 0;
	padding: 10px;
}

.spotter_tip em {
	display: inline-block;
	text-decoration: underline;
	margin-bottom: 4px;
}
