input,
button,
select {
	border-radius: 2px;
	border: 1px solid #ccc;
	line-height: 50px;
	margin: 4px 0 20px;
	padding: 0 10px;
	position: relative;
	width: 100%;
	-webkit-appearance: none;
}

input:focus,
button:focus,
select:focus {
	outline: none;
	box-shadow: 0 0 0 2px #4eafb3;
	z-index: 1;
}

button {
	background-color: #4eafb3;
	border: 0;
	color: #fff;
	font-size: 16px;
}

input:disabled,
button:disabled {
	opacity: 0.5;
}

a {
	color: #4eafb3;
	text-decoration: none;
}

p {
	margin-bottom: 20px;
}

.hide { display: none; }
.center { text-align: center; }
.right { text-align: right; }

.searchbar {
	border: 1px solid #ccc;
	position: relative;
	top: -20px;
}

.searchbar li {
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	line-height: 50px;
	overflow: hidden;
	padding: 0 10px;
	text-overflow: ellipsis;
	white-space: nowrap;             
}

.searchbar li:last-child {
	border-bottom: 0;
}

